body{
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.logo{
    width: 300px;
    height:auto;
}
header{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.nav-bar{
    width: 1200px;
    height: 60px;
    background-color: rgb(19, 141, 255);
    margin-left: 500px;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    
}
.nav-bar a{
    padding: 60px;
    
    text-decoration: none;
    color: white;
   
}

h1{
    text-align: center;
    font-size: 75px;
}
main{
    text-align: center;
}
.banner{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}


.carrusel{
    display: flex;
    min-height: 100vh;
}
.bloque1{
    background-image: url(../images/bronco.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.bloque1:hover{
    font-size: 80px;
    color: white;
  
}
.bloque2{
    background-image: url(../images/ranger.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    

}
.bloque2:hover{
    font-size: 80px;
    color: white;
  
}
.bloque3{
    background-image: url(../images/maverick5.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.bloque3:hover{
    font-size: 80px;
    color: white;
  
}
footer{
    width: 100%;
    height: 200px;
    background-color: rgb(19, 141, 255);
   
}

.footer-link {
    display: flex;
    flex-direction: row; 
    
  
}
.links-footer{
    margin-top: 50px;
    padding: 30px;
    text-decoration: none;
    font-size: 20px;
    color: white;

}

